/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --background: #E6E6E3;
    --secondary:#6546AA;
    --clear: white;
    --text: #696767
}

body {
    background-color: var(--background);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

/*Home Page*/
.home {
    background-color: var(--background);
}

.home > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* background: url("/img/background.jpg") no-repeat center center / cover; */
    background-color: white;
    height: 30vh;
    padding: 10px;
}

.home > header > h1 {
    font-size: 14vw;
    color: var(--text);
}

.home > header > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    height: 9vh;
    margin-bottom: 13px;
}

.link {
    text-decoration: none;
    color: var(--background);
}

.header-link {
    font-size: 4vw;
    padding: 7px 4px;
    color: var(--text);
}

.header-link:last-of-type {
    border: solid 1px var(--text);
    border-radius: 7px;
}

.home main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
}

.home-sign-up-card {
    margin: 20px 0 0;
    background-color: var(--clear);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-sign-up-card > img {
    width: 100%;
    object-fit: cover;
    height: 20vh;
}

.home-sign-up-card > p {
    width: 90vw;
    margin: 20px 0;
    font-size: 3.8vw;
    line-height: 1.4;
    color: var(--text);
}

.button {
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--clear);
    padding: 15px 30px;
    margin-bottom: 20px;
    /* vertical-align: middle;
    display: table-cell; */
    border-radius: 200px;
}

.home footer {
    background-color: var(--secondary);
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-link {
    color: var(--clear)
}

/* Register pages */

.register-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: 100vh;
}

.register-tabs-container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.register-tabs {
    width: 100%;
    height: 100%;
    font-size: 5.5vw;
    border: none;
    color: var(--clear);
    cursor: pointer;
}

.register-business {
    background-color: var(--secondary);
}

.register-asso {
    background-color: var(--background);
    color: var(--secondary)
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}

.register-form label {
    color: var(--clear);
    font-size: 4.5vw;
    margin: 10px 0;
}

.register-asso label {
    color: var(--secondary) 
}

.register-form > input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

.upload-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.upload-logo > button {
    border: none;
    margin-right: 20px;
    background-color: var(--clear);
}

.upload-logo img {
    width: 10vw;
}

.upload-logo p {
    color: var(--clear);
    font-size: 4.5vw;
    
}

.register-asso .upload-logo p {
    color: var(--secondary) 
}

.register-form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 10vh;
    font-size: 4vw;
    padding: 10px;
    margin-bottom: 20px;
}

.register-form > select {
    margin-bottom: 20px;
}

.address-nums {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.address-nums > input {
    width: 20vw;
}

.address-city {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.address-city > input {
    display: inline;
    width: 30vw;
}

.date-input {
    margin-bottom: 20px;
}

.register-form p {
    color: var(--clear);
    font-size: 4.5vw;
}

.register-asso .register-form p {
    color: var(--secondary);
}

.register-form p > span {
    font-weight: 900;
}


.main-color-button {
    background-color: var(--background);
    color:  var(--secondary);
}

.input-button {
    border: none;
    font-size: 5vw;
    margin-top: 20px;
}

.secondary-color {
    color: var(--secondary)
}

/* Navbar */
.navbar {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links > img {
    width: 12vw;
    margin: 5px 0;
}

.navbar-links > p {
    margin-bottom: 5px 0;
    color: var(--clear)
}

/* Dashboard */
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background);
}

.profile-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-header > img:first-of-type {
    align-self: stretch;
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.profile-logo {
    background-color: white;
    z-index: 2;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    object-fit: contain;
    margin: -15vw 0 20px;
}

.profile-header h2 {
    font-size: 5vw;
    color: var(--secondary);
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.dashboard-pickup-day {
    color: var(--secondary);
    margin-bottom: 30px;
    font-size: 4.5vw;
}

.toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.toggle button {
    border: none;
    width: 40vw;
    padding: 10px 0;
    font-size: 3.5vw;
    border: solid 1px var(--text);
    cursor: pointer;
    background-color: var(--secondary);
    color: white
}

.toggle-collaborations {
    border-radius: 100px 0 0 100px;
}

.toggle-pending {
    border-radius: 0 100px 100px 0;
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-list > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    background-color: var(--clear);
    border-radius: 20px;
    margin-top: 25px;
    position: relative;
    box-shadow: 3px 3px 10px grey;
}

.card-img-link img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card-logo {
    background-color: white;
    border-radius: 50%;
    width: 20vw;
    position: absolute;
    left: 10px;
    top: 10px;
}

.card > h3 {
    align-self: flex-start;
    padding: 20px;
    font-size: 5vw;
    color: var(--text);
}

.card p {
    color: var(--secondary);
    font-size: 4.5vw;
    padding: 5px 20px 20px ;
    align-self: flex-start;
}

.accept-reject-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.accept-reject-container > button {
    width: 38vw;
    padding: 7px 0;
    border: none;
}

.accept {
    background-color: #2D9A28;
}

.reject {
    background-color: #B5076B;
}

/* Products page */
.products-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background);
    padding: 50px 30px;
}

.products-page > h2 {
    align-self: flex-start;
    color: var(--secondary);
    font-size: 5vw;;
}

.button-create-product {
    position: fixed;
    bottom: 80px;
}

.products-list {
    margin: 30px 0 130px;
    width: 100%;
}

.products-list > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--clear);
    margin-bottom: 20px;
    width: 80vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px grey;
}

.product-card > img {
    width: 15vw;
    margin-right: 30px;
}

.product-card > h3 {
    font-size: 5vw;
    color: var(--text)
    
}

.add-edit-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.back-button {
    align-self: flex-end;
    margin: 20px;
}

.add-edit-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.add-edit-form > label {
    text-transform: uppercase;
    font-size: 5vw;
    color: var(--secondary);
    margin: 20px 0 10px;
}

.add-edit-product-button {
    margin: 50px 30px;
    align-self: center;
    border: none;
    width: 200px
}

.add-edit-input {
    width: 100%;
}


.select-input{
height: 30px;
width: 40vw;
}

.delete-button {
    margin-top: 0;
    background-color: #B5086B;
}
/* Search page */
.search-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}

.search-input {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.search-input > label {
    color: var(--secondary);
    font-size: 5vw;
    margin-bottom: 20px;
}

.search-input > input {
    width: 95%;
}

.filter-button {
    border: none;
    width: 20vw;
    padding: 5px;
    margin-left: 20px;
    background-color: var(--secondary);
    color: var(--background);
    cursor: pointer;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
}

.filter-options > label {
    padding: 5px 0;
    width: 38vw;
    font-size: 4.5vw;
    color: var(--text);
}

.filter-options input {
    margin-right: 10px;
}

/* Details page  */
.details-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.back-button-details {
    position: absolute;
    right: 20px;
    top: 15px;
}

.details-info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.details-info > p:first-child {
    background-color: var(--clear);
    color: var(--text);
    padding: 8px;
    width: 90%;
    min-height: 10vh;
    border-radius: 5px;
    margin-bottom: 30px;
}

.details-info > h3 {
    color: var(--secondary);
    font-size: 5vw;
    margin: 20px 10px 5px;

}

.details-info > h4,.details-info >  p {
    font-size: 4.5vw;
    color: var(--text);
    margin: 20px 10px 0; 
}

.details-info > h4 {
    font-weight: 900;
}
.details-info > p {
    margin-bottom: 20px;
}

.details-page > button {
    align-self: center;
    bottom: -10px
}

.asso-details {
    height: 100vh;
}

/* OTHERS */ 

.others-page {
    display: flex;
    flex-direction: column;
}

.others-link {
    color: var(--secondary);
    margin: 20px;
    font-size: 4.5vw
}

.button-others {
    border: none;
    background: none;
    text-align: left;
    font-size: 4.5vw
}

hr {
    border: solid 1px var(--secondary); 
    width: 90vw
}